<div class="p-3">
  <div class="d-flex gap-sm py-3">
    <span
      class="badge badge-primary badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Primary</span
    >
    <span
      class="badge badge-brand badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Brand</span
    >
    <span
      class="badge badge-secondary badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Secondary</span
    >
    <span
      class="badge badge-info badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Info</span
    >
    <span
      class="badge badge-success badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Success</span
    >
    <span
      class="badge badge-warning badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Warning</span
    >
    <span
      class="badge badge-danger badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Danger</span
    >
    <span
      class="badge badge-light badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Light</span
    >
    <span
      class="badge badge-dark badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Dark</span
    >
  </div>

  <div class="d-none gap-sm py-3">
    <span
      class="badge border-light-primary ink-light-primary bg-light-primary  badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Primary</span
    >
    <span
      class="badge border-light-brand ink-light-brand bg-light-brand  badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Brand</span
    >
    <span
      class="badge border-light-secondary ink-light-secondary bg-light-secondary  badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Secondary</span
    >
    <span
      class="badge border-light-info ink-light-info bg-light-info  badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Info</span
    >
    <span
      class="badge border-light-success ink-light-success bg-light-success  badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Success</span
    >
    <span
      class="badge border-light-warning ink-light-warning bg-light-warning  badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Warning</span
    >
    <span
      class="badge border-light-danger ink-light-danger bg-light-danger  badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Danger</span
    >
    <span
      class="badge border-light-light ink-light-light bg-light-light  badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Light</span
    >
    <span
      class="badge border-light-dark ink-light-dark bg-light-dark  badge-pill d-flex justify-content-center align-items-center gap-xs p-1 px-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-info-circle-fill"
        viewBox="0 0 16 16">
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
      </svg>
      Dark</span
    >
  </div>
  <div class="d-flex gap-sm py-3">
    <span class="badge badge-primary badge-pill">Primary</span>
    <span class="badge badge-brand badge-pill">Brand</span>
    <span class="badge badge-secondary badge-pill">Secondary</span>
    <span class="badge badge-info badge-pill">Info</span>
    <span class="badge badge-success badge-pill">Success</span>
    <span class="badge badge-warning badge-pill">Warning</span>
    <span class="badge badge-danger badge-pill">Danger</span>
    <span class="badge badge-light badge-pill">Light</span>
    <span class="badge badge-dark badge-pill">Dark</span>
  </div>
  <div class="d-flex gap-sm py-3">
    <span class="badge badge-primary">Primary</span>
    <span class="badge badge-brand">Brand</span>
    <span class="badge badge-secondary">Secondary</span>
    <span class="badge badge-info">Info</span>
    <span class="badge badge-success">Success</span>
    <span class="badge badge-warning">Warning</span>
    <span class="badge badge-danger">Danger</span>
    <span class="badge badge-light">Light</span>
    <span class="badge badge-dark">Dark</span>
  </div>
  <h3>Links</h3>
  <div class="d-flex gap-sm py-3">
    <a href="#" class="badge badge-primary">Primary</a>
    <a href="#" class="badge badge-brand">Brand</a>
    <a href="#" class="badge badge-secondary">Secondary</a>
    <a href="#" class="badge badge-info">Info</a>
    <a href="#" class="badge badge-success">Success</a>
    <a href="#" class="badge badge-warning">Warning</a>
    <a href="#" class="badge badge-danger">Danger</a>
    <a href="#" class="badge badge-light">Light</a>
    <a href="#" class="badge badge-dark">Dark</a>
  </div>
  <h3>Disabled</h3>
  <div class="d-flex gap-sm py-3">
    <a href="#" class="badge-disbled badge badge-primary">Primary</a>
    <a href="#" class="badge-disbled badge badge-brand">Brand</a>
    <a href="#" class="badge-disbled badge badge-secondary">Secondary</a>
    <a href="#" class="badge-disbled badge badge-info">Info</a>
    <a href="#" class="badge-disbled badge badge-success">Success</a>
    <a href="#" class="badge-disbled badge badge-warning">Warning</a>
    <a href="#" class="badge-disbled badge badge-danger">Danger</a>
    <a href="#" class="badge-disbled badge badge-light">Light</a>
    <a href="#" class="badge-disbled badge badge-dark">Dark</a>
  </div>

  <h3>Custom colors</h3>
  <h4>red</h4>
  <div class="d-flex flex-wrap gap-sm h2">
    <span class=" badge badge-IndianRed">IndianRed</span>
    <span class=" badge badge-LightCoral">LightCoral</span>
    <span class=" badge badge-Salmon">Salmon</span>
    <span class=" badge badge-DarkSalmon">DarkSalmon</span>
    <span class=" badge badge-LightSalmon">LightSalmon</span>
    <span class=" badge badge-Crimson">Crimson</span>
    <span class=" badge badge-Red">Red</span>
    <span class=" badge badge-FireBrick">FireBrick</span>
    <span class=" badge badge-DarkRed">DarkRed</span>
  </div>
  <h4>pink</h4>
  <div class="d-flex flex-wrap gap-sm h2">
    <span class=" badge badge-Pink">Pink</span>
    <span class=" badge badge-LightPink">LightPink</span>
    <span class=" badge badge-HotPink">HotPink</span>
    <span class=" badge badge-DeepPink">DeepPink</span>
    <span class=" badge badge-MediumVioletRed">MediumVioletRed</span>
    <span class=" badge badge-PaleVioletRed">PaleVioletRed</span>
  </div>
  <h4>orange</h4>
  <div class="d-flex flex-wrap gap-sm h2">
    <span class=" badge badge-LightSalmon">LightSalmon</span>
    <span class=" badge badge-Coral">Coral</span>
    <span class=" badge badge-Tomato">Tomato</span>
    <span class=" badge badge-OrangeRed">OrangeRed</span>
    <span class=" badge badge-DarkOrange">DarkOrange</span>
    <span class=" badge badge-Orange">Orange</span>
  </div>
  <h4>yellow</h4>
  <div class="d-flex flex-wrap gap-sm h2">
    <span class=" badge badge-Gold">Gold</span>
    <span class=" badge badge-Yellow">Yellow</span>
    <span class=" badge badge-LightYellow">LightYellow</span>
    <span class=" badge badge-LemonChiffon">LemonChiffon</span>
    <span class=" badge badge-LightGoldenrodYellow">LightGoldenrodYellow</span>
    <span class=" badge badge-PapayaWhip">PapayaWhip</span>
    <span class=" badge badge-Moccasin">Moccasin</span>
    <span class=" badge badge-PeachPuff">PeachPuff</span>
    <span class=" badge badge-PaleGoldenrod">PaleGoldenrod</span>
    <span class=" badge badge-Khaki">Khaki</span>
    <span class=" badge badge-DarkKhaki">DarkKhaki</span>
  </div>
  <h4>purple</h4>
  <div class="d-flex flex-wrap gap-sm h2">
    <span class=" badge badge-Lavender">Lavender</span>
    <span class=" badge badge-Thistle">Thistle</span>
    <span class=" badge badge-Plum">Plum</span>
    <span class=" badge badge-Violet">Violet</span>
    <span class=" badge badge-Orchid">Orchid</span>
    <span class=" badge badge-Fuchsia">Fuchsia</span>
    <span class=" badge badge-Magenta">Magenta</span>
    <span class=" badge badge-MediumOrchid">MediumOrchid</span>
    <span class=" badge badge-MediumPurple">MediumPurple</span>
    <span class=" badge badge-RebeccaPurple">RebeccaPurple</span>
    <span class=" badge badge-BlueViolet">BlueViolet</span>
    <span class=" badge badge-DarkViolet">DarkViolet</span>
    <span class=" badge badge-DarkOrchid">DarkOrchid</span>
    <span class=" badge badge-DarkMagenta">DarkMagenta</span>
    <span class=" badge badge-Purple">Purple</span>
    <span class=" badge badge-Indigo">Indigo</span>
    <span class=" badge badge-SlateBlue">SlateBlue</span>
    <span class=" badge badge-DarkSlateBlue">DarkSlateBlue</span>
    <span class=" badge badge-MediumSlateBlue">MediumSlateBlue</span>
  </div>
  <h4>green</h4>
  <div class="d-flex flex-wrap gap-sm h2">
    <span class=" badge badge-GreenYellow">GreenYellow</span>
    <span class=" badge badge-Chartreuse">Chartreuse</span>
    <span class=" badge badge-LawnGreen">LawnGreen</span>
    <span class=" badge badge-Lime">Lime</span>
    <span class=" badge badge-LimeGreen">LimeGreen</span>
    <span class=" badge badge-PaleGreen">PaleGreen</span>
    <span class=" badge badge-LightGreen">LightGreen</span>
    <span class=" badge badge-MediumSpringGreen">MediumSpringGreen</span>
    <span class=" badge badge-SpringGreen">SpringGreen</span>
    <span class=" badge badge-MediumSeaGreen">MediumSeaGreen</span>
    <span class=" badge badge-SeaGreen">SeaGreen</span>
    <span class=" badge badge-ForestGreen">ForestGreen</span>
    <span class=" badge badge-Green">Green</span>
    <span class=" badge badge-DarkGreen">DarkGreen</span>
    <span class=" badge badge-YellowGreen">YellowGreen</span>
    <span class=" badge badge-OliveDrab">OliveDrab</span>
    <span class=" badge badge-Olive">Olive</span>
    <span class=" badge badge-DarkOliveGreen">DarkOliveGreen</span>
    <span class=" badge badge-MediumAquamarine">MediumAquamarine</span>
    <span class=" badge badge-DarkSeaGreen">DarkSeaGreen</span>
    <span class=" badge badge-LightSeaGreen">LightSeaGreen</span>
    <span class=" badge badge-DarkCyan">DarkCyan</span>
    <span class=" badge badge-Teal">Teal</span>
  </div>
  <h4>blue</h4>
  <div class="d-flex flex-wrap gap-sm h2">
    <span class=" badge badge-Aqua">Aqua</span>
    <span class=" badge badge-Cyan">Cyan</span>
    <span class=" badge badge-LightCyan">LightCyan</span>
    <span class=" badge badge-PaleTurquoise">PaleTurquoise</span>
    <span class=" badge badge-Aquamarine">Aquamarine</span>
    <span class=" badge badge-Turquoise">Turquoise</span>
    <span class=" badge badge-MediumTurquoise">MediumTurquoise</span>
    <span class=" badge badge-DarkTurquoise">DarkTurquoise</span>
    <span class=" badge badge-CadetBlue">CadetBlue</span>
    <span class=" badge badge-SteelBlue">SteelBlue</span>
    <span class=" badge badge-LightSteelBlue">LightSteelBlue</span>
    <span class=" badge badge-PowderBlue">PowderBlue</span>
    <span class=" badge badge-LightBlue">LightBlue</span>
    <span class=" badge badge-SkyBlue">SkyBlue</span>
    <span class=" badge badge-LightSkyBlue">LightSkyBlue</span>
    <span class=" badge badge-DeepSkyBlue">DeepSkyBlue</span>
    <span class=" badge badge-DodgerBlue">DodgerBlue</span>
    <span class=" badge badge-CornflowerBlue">CornflowerBlue</span>
    <span class=" badge badge-RoyalBlue">RoyalBlue</span>
    <span class=" badge badge-Blue">Blue</span>
    <span class=" badge badge-MediumBlue">MediumBlue</span>
    <span class=" badge badge-DarkBlue">DarkBlue</span>
    <span class=" badge badge-Navy">Navy</span>
    <span class=" badge badge-MidnightBlue">MidnightBlue</span>
  </div>
  <h4>Brown </h4>
  <div class="d-flex flex-wrap gap-sm h2">
    <span class=" badge badge-Cornsilk">Cornsilk</span>
    <span class=" badge badge-BlanchedAlmond">BlanchedAlmond</span>
    <span class=" badge badge-Bisque">Bisque</span>
    <span class=" badge badge-NavajoWhite">NavajoWhite</span>
    <span class=" badge badge-Wheat">Wheat</span>
    <span class=" badge badge-BurlyWood">BurlyWood</span>
    <span class=" badge badge-Tan">Tan</span>
    <span class=" badge badge-RosyBrown">RosyBrown</span>
    <span class=" badge badge-SandyBrown">SandyBrown</span>
    <span class=" badge badge-Goldenrod">Goldenrod</span>
    <span class=" badge badge-DarkGoldenrod">DarkGoldenrod</span>
    <span class=" badge badge-Peru">Peru</span>
    <span class=" badge badge-Chocolate">Chocolate</span>
    <span class=" badge badge-SaddleBrown">SaddleBrown</span>
    <span class=" badge badge-Sienna">Sienna</span>
    <span class=" badge badge-Brown">Brown</span>
    <span class=" badge badge-Maroon">Maroon</span>
  </div>
  <h4>White </h4>
  <div class="d-flex flex-wrap gap-sm h2">
    <span class=" badge badge-White">White</span>
    <span class=" badge badge-Snow">Snow</span>
    <span class=" badge badge-HoneyDew">HoneyDew</span>
    <span class=" badge badge-MintCream">MintCream</span>
    <span class=" badge badge-Azure">Azure</span>
    <span class=" badge badge-AliceBlue">AliceBlue</span>
    <span class=" badge badge-GhostWhite">GhostWhite</span>
    <span class=" badge badge-WhiteSmoke">WhiteSmoke</span>
    <span class=" badge badge-SeaShell">SeaShell</span>
    <span class=" badge badge-Beige">Beige</span>
    <span class=" badge badge-OldLace">OldLace</span>
    <span class=" badge badge-FloralWhite">FloralWhite</span>
    <span class=" badge badge-Ivory">Ivory</span>
    <span class=" badge badge-AntiqueWhite">AntiqueWhite</span>
    <span class=" badge badge-Linen">Linen</span>
    <span class=" badge badge-LavenderBlush">LavenderBlush</span>
    <span class=" badge badge-MistyRose">MistyRose</span>
  </div>
  <h4>Gray </h4>
  <div class="d-flex flex-wrap gap-sm h2">
    <span class=" badge badge-Gainsboro">Gainsboro</span>
    <span class=" badge badge-LightGray">LightGray</span>
    <span class=" badge badge-Silver">Silver</span>
    <span class=" badge badge-DarkGray">DarkGray</span>
    <span class=" badge badge-Gray">Gray</span>
    <span class=" badge badge-DimGray">DimGray</span>
    <span class=" badge badge-LightSlateGray">LightSlateGray</span>
    <span class=" badge badge-SlateGray">SlateGray</span>
    <span class=" badge badge-DarkSlateGray">DarkSlateGray</span>
    <span class=" badge badge-Black">Black</span>
  </div>

</div>
