<div class="d-flex flex-column align-items-center py-3 justify-content-center">
  <div
    class="w-xl  square rounded overflow-hidden rounded-circle outline-avatar">
    <img
      class="img-fluid"
      src="https://avatars.githubusercontent.com/u/2906936?v=4"
      alt="" />
  </div>
  <div class="py-3">
    <strong> Mano Sebastiano Argenti </strong>
  </div>
  <div class="d-flex gap">
    <button
      class="border-0 d-flex justify-content-center flex-column mt-2 bg-transparent">
      <span
        class="d-flex justify-content-center mx-auto align-items-center w-md square rounded-circle border border-primary text-primary bg-transparent">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-envelope"
          viewBox="0 0 16 16">
          <path
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
        </svg>
      </span>
      <small class="mt-2 text-center w-100">Mail</small>
    </button>
    <button
      class="border-0 d-flex justify-content-center flex-column mt-2 bg-transparent">
      <span
        class="d-flex justify-content-center mx-auto align-items-center w-md square rounded-circle border border-primary text-primary bg-transparent">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-telephone"
          viewBox="0 0 16 16">
          <path
            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
        </svg>
      </span>
      <small class="mt-2 text-center w-100">Phone</small>
    </button>
    <button
      class="border-0 d-flex justify-content-center flex-column mt-2 bg-transparent">
      <span
        class="d-flex justify-content-center mx-auto align-items-center w-md square rounded-circle border border-primary text-primary bg-transparent">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-calendar"
          viewBox="0 0 16 16">
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
      </span>
      <small class="mt-2 text-center w-100">Appointment</small>
    </button>
    <button
      class="border-0 d-flex justify-content-center flex-column mt-2 bg-transparent">
      <span
        class="d-flex justify-content-center mx-auto align-items-center w-md square rounded-circle border border-primary text-primary bg-transparent">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-three-dots"
          viewBox="0 0 16 16">
          <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
        </svg>
      </span>
      <small class="mt-2 text-center w-100">Create</small>
    </button>
  </div>
</div>

<div class="accordion mt-3" id="accordionExample1">
  <div class="border-top">
    <div class="" id="headingOne1">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne1"
          aria-expanded="true"
          aria-controls="collapseOne1">
          Info
        </button>
      </h2>
    </div>

    <div
      id="collapseOne1"
      class="collapse show"
      aria-labelledby="headingOne1"
      data-parent="#accordionExample1">
      <div class="container-fluid px-3">
        <dl class="row no-gutters">
          <dt class="c-12 col-md-5">
            <small class="text-bold"> Email Address </small>
          </dt>
          <dd class="c-12 col-md-7">
            <small> LucyJackson400@gmail.com </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold"> Mobile Phone </small>
          </dt>
          <dd class="c-12 col-md-7">
            <small> 078 4541 2365 </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold">Primary Phone</small>
          </dt>
          <dd class="c-12 col-md-7">
            <small> 078 4541 2365 </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold">Preferred Contact</small>
          </dt>
          <dd class="c-12 col-md-7">
            <small>Email </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold"> Email Address </small>
          </dt>
          <dd class="c-12 col-md-7">
            <small> LucyJackson400@gmail.com </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold"> Mobile Phone </small>
          </dt>
          <dd class="c-12 col-md-7">
            <small> 078 4541 2365 </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold">Primary Phone</small>
          </dt>
          <dd class="c-12 col-md-7">
            <small> 078 4541 2365 </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold">Preferred Contact</small>
          </dt>
          <dd class="c-12 col-md-7">
            <small>Email </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold"> Email Address </small>
          </dt>
          <dd class="c-12 col-md-7">
            <small> LucyJackson400@gmail.com </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold"> Mobile Phone </small>
          </dt>
          <dd class="c-12 col-md-7">
            <small> 078 4541 2365 </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold">Primary Phone</small>
          </dt>
          <dd class="c-12 col-md-7">
            <small> 078 4541 2365 </small>
          </dd>
          <dt class="c-12 col-md-5">
            <small class="text-bold">Preferred Contact</small>
          </dt>
          <dd class="c-12 col-md-7">
            <small>Email </small>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="accordion mt-3" id="accordionExample3">
  <div class="border-top">
    <div class="" id="headingOne3">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne3"
          aria-expanded="true"
          aria-controls="collapseOne3">
          Important
        </button>
      </h2>
    </div>

    <div
      id="collapseOne3"
      class="collapse show"
      aria-labelledby="headingOne3"
      data-parent="#accordionExample3">
      <div class="">
        <div class="rounded border p-2 border-light mt-2 block w-100  bg-light">
          <div class="d-flex flex-column py-2">
            <strong> Suitability Review </strong>
            status Not Started
          </div>
        </div>
        <div class="rounded border p-2 border-light mt-2 block w-100  bg-light">
          <div class="d-flex flex-column py-2">
            <strong> Last Suitability Date </strong>
            No
          </div>
        </div>
        <div class="rounded border p-2 border-light mt-2 block w-100  bg-light">
          <div class="d-flex flex-column py-2">
            <strong> Next Meeting Date </strong>
            23/05/1976
          </div>
        </div>
        <div class="rounded border p-2 border-light mt-2 block w-100  bg-light">
          <div class="d-flex flex-column py-2">
            <strong> Estimated Value </strong>
            £ 12.000.000
          </div>
        </div>
        <div class="rounded border p-2 border-light mt-2 block w-100  bg-light">
          <div class="d-flex flex-column py-2">
            <strong> Suitability Review </strong>
            status Not Started
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample2">
  <div class="border-top">
    <div class="" id="headingOne2">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne2"
          aria-expanded="true"
          aria-controls="collapseOne2">
          Long Items
        </button>
      </h2>
    </div>

    <div
      id="collapseOne2"
      class="collapse"
      aria-labelledby="headingOne2"
      data-parent="#accordionExample2">
      <div class="card-body">
        {{ partial "lorem.html" . }}
        Some placeholder content for the first accordion panel. This panel is
        shown by default, thanks to the <code>.show</code> class.
      </div>
    </div>
  </div>
</div>
