.styled-scrollbars {
  /* Foreground, Background */
  --bg: #{$white};
  --thumb: #{$gray-500};
  --track: #{$gray-100};

  scrollbar-color: $gray-300 $gray-100;
  &::-webkit-scrollbar {
    width: 6px; /* Mostly for vertical scrollbars */
    height: 6px; /* Mostly for horizontal scrollbars */
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    /* Foreground */
    background: var(--bg, #{$white});
  }
  &::-webkit-scrollbar-track {
    border-radius: 50px;
    /* Background */
    background: var(--bg, #{$white});
  }
  &:hover {
    &::-webkit-scrollbar {
      width: 6px; /* Mostly for vertical scrollbars */
      height: 6px; /* Mostly for horizontal scrollbars */
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      /* Foreground */
      background: var(--thumb, #{$gray-500}) ;
    }
    &::-webkit-scrollbar-track {
      border-radius: 50px;
      /* Background */
      background: var(--track, #{$gray-100});
    }
    scrollbar-color: $gray-500 $gray-100;
  }
}
