<!doctype html>
<html lang="en">
  <head>
    {{- partial "site-style.html" . -}}
    {{- partial "site-scripts.html" . -}}
  </head>
  <body
    class="body position-relative h-100 d-flex flex-column min-vh"

    x-data="body()"
    x-init="loadConfig();"
  >

  <div class="position-relative w-100 z-5">
    <div class="d-flex position-absolute z-5 centerTop gap-sm mt-2 bg-white rounded-pill p-1">
      <button class="b-0 p-0 border-0 w-sm bg-gray square rounded-circle" x-bind:class="currentTheme === '../scss/styles_gray.css' ? 'active' : 'normal'" x-on:click="changeTheme('../scss/styles_gray.css')"></button>     
      <button class="b-0 p-0 border-0 w-sm bg-punk square rounded-circle" x-bind:class="currentTheme === '../scss/styles_punk.css' ? 'active' : 'normal'" x-on:click="changeTheme('../scss/styles_punk.css')"></button>
      <button class="b-0 p-0 border-0 w-sm bg-dove square rounded-circle" x-bind:class="currentTheme === '../scss/styles_dove.css' ? 'active' : 'normal'" x-on:click="changeTheme('../scss/styles_dove.css')"></button>
      <button class="b-0 p-0 border-0 w-sm bg-edwardJones square rounded-circle" x-bind:class="currentTheme === '../scss/styles_edwardJones.css' ? 'active' : 'normal'" x-on:click="changeTheme('../scss/styles_edwardJones.css')"></button>
      <button class="b-0 p-0 border-0 w-sm bg-charlesHarley square rounded-circle" x-bind:class="currentTheme === '../scss/styles_charlesHarley.css' ? 'active' : 'normal'" x-on:click="changeTheme('../scss/styles_charlesHarley.css')"></button>
      <button class="b-0 p-0 border-0 w-sm bg-cai square rounded-circle" x-bind:class="currentTheme === '../scss/styles_cai.css' ? 'active' : 'normal'" x-on:click="changeTheme('../scss/styles_cai.css')"></button>
      <button class="b-0 p-0 border-0 w-sm bg-flowerPower square rounded-circle" x-bind:class="currentTheme === '../scss/styles_flowerPower.css' ? 'active' : 'normal'" x-on:click="changeTheme('../scss/styles_flowerPower.css')"></button>
      <button class="b-0 p-0 border-0 w-sm bg-flowerPowerModern square rounded-circle" x-bind:class="currentTheme === '../scss/styles_flowerPowerModern.css' ? 'active' : 'normal'" x-on:click="changeTheme('../scss/styles_flowerPowerModern.css')"></button>
      <button class="b-0 p-0 border-0 w-sm bg-rothChildish square rounded-circle" x-bind:class="currentTheme === '../scss/styles_rothChildish.css' ? 'active' : 'normal'" x-on:click="changeTheme('../scss/styles_rothChildish.css')"></button>
      <button class="b-0 p-0 border-0 w-sm bg-rmm square rounded-circle" x-bind:class="currentTheme === '../scss/styles_rmm.css' ? 'active' : 'normal'" x-on:click="changeTheme('../scss/styles_rmm.css')"></button>
    </div>
  </div>
    {{- partial "site-nav.html" . -}}
    {{ block "main" . }}
    {{ end }}

    <script>
      function body() {
        return {
          useAlternateStyle: false,
          bodyHeight: null,
          chatOpen: false,
          editDasboard: false,
          currentTheme: "../scss/styles.css",
          changeTheme(themePath) {
            this.currentTheme = themePath;
            localStorage.setItem("selectedTheme", themePath);
            applyTheme(themePath);
          },

          loadConfig() {
            const savedTheme = localStorage.getItem("selectedTheme");
            if (savedTheme) {
              this.currentTheme = savedTheme;
              applyTheme(savedTheme);
            } else {
              this.currentTheme = "../scss/styles.css";
              applyTheme(this.currentTheme);
            }
          },
        };
      }

      function applyTheme(themePath) {
        const linkElement = document.getElementById("themeStylesheet");
        linkElement.href = themePath;
      }

      window.addEventListener("resize", () => {
        Alpine.store("body").calculateHeight("windowModalTab");
      });
    </script>
  </body>
</html>
