// body * {
//   outline: 1px solid $danger;
// }

@import "bubble/bubble";
@import "single-page/single-page";
@import "utilities/utilities";
.message {
  bottom: 0.5rem;
  left: 50%;
  display: block;
  position: absolute;
  z-index: 1001;
  transform: translateX(-50%);
}

.switch-icon {
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  svg {
    transition: all ease-in-out 200ms;
  }
  &:hover .icon-hover,
  .icon {
    opacity: 1;
    display: block;
  }
  &:hover .icon,
  .icon-hover {
    opacity: 0;
    display: none;
  }
}

li.counter.sticky-top {
  z-index: 10 !important;
}

.results {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 1000;
}

.xtab-pane * {
  outline: 1px solid $danger;
}

.shadow-md {
  box-shadow: 0 0.225rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.nav {
  overflow: visible;
  // outline: 1px solid red;
  &__border-bottom {
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background: $gray-300;
      display: block;
      z-index: 2;
      position: absolute;
      bottom: 0px;
    }
  }
}

.info-section {
  // background: theme-color-level(primary, 1);
  // color: color-yiq($primary);
  background: $gray-100;
  color: color-yiq($gray-100);
}

.navbar-brand {
  color: color-yiq($brand);
}

.inkPrimary {
  color: color-yiq($primary);
}
.inkBrand {
  color: color-yiq($brand);
}

.customTab {
  .nav-link {
    border: none;
    background: color-yiq($primary);
    color: $primary;
    font-weight: bold;
    border-right: 1px solid $gray-300;
    &.active {
      background: theme-color-level(primary, 2);
      color: color-yiq($primary);
      position: relative;
      overflow: visible;
      // btn btn-primary rounded-0
      &::after {
        $arrowSize: 16px;
        content: "";
        display: block;
        width: $arrowSize;
        height: $arrowSize;
        position: absolute;
        z-index: 3;
        left: 48%;

        bottom: calc(-1 * #{$arrowSize} / 1.8);
        transform-origin: center;
        transform: rotate(45deg) translateX(-50%);
        background: theme-color-level(primary, 2);
        border-radius: calc(#{$arrowSize} / 5);
        // border-top: $arrowSize solid theme-color-level(primary, 2);
      }
    }
  }
}

.arrow {
}

.xwork-item {
  * {
    outline: 1px solid red;
  }
}

.p-b-actions {
  padding-bottom: 4rem;
}

.icon-container {
  background: var(--brand-2, #{$gray-200});
  aspect-ratio: 1;
  display: block;
  width: $font-size-base * 1.5;
  svg {
    height: $font-size-base;
  }
  &-d1 {
    width: $display1-size * 1.5;
    svg {
      height: $display1-size;
    }
  }
  &-d2 {
    width: $display2-size * 1.5;
    svg {
      height: $display2-size;
    }
  }
  &-d3 {
    width: $display3-size * 1.5;
    svg {
      height: $display3-size;
    }
  }
  &-d4 {
    width: $display4-size * 1.5;
    svg {
      height: $display4-size;
    }
  }
  &-h1 {
    width: $h1-font-size * 1.5;
    svg {
      height: $h1-font-size;
    }
  }
  &-h2 {
    width: $h2-font-size * 1.5;
    svg {
      height: $h2-font-size;
    }
  }
  &-h3 {
    width: $h3-font-size * 1.5;
    svg {
      height: $h3-font-size;
    }
  }
  &-h4 {
    width: $h4-font-size * 1.5;
    svg {
      height: $h4-font-size;
    }
  }
  &-h5 {
    width: $h4-font-size * 1.5;
    svg {
      height: $h4-font-size;
    }
  }
  &-h6 {
    width: $h4-font-size * 1.5;
    svg {
      height: $h4-font-size;
    }
  }
}
.fa-primary {
  fill: var(--brand-11, $gray-700);
}
.fa-secondary {
  fill: var(--brand-6, $gray-700);
  opacity: 1;
}

// TODO: change back to 80
.max-w-80 {
  max-width: 100rem;
}
.xchatBox {
  max-height: 7.5rem;
  min-height: 1.5rem;
  // user-select: text;
  // white-space: pre-wrap;
  // word-break: break-word;
}

.border-emphasize {
  border-style: solid;
  border-width: 0px 0px 0px 5px;
}
.border-emphasize-card {
  border-style: solid;
  border-width: 1px 1px 1px 5px;
}
.border-color-info {
  border-left-color: $info;
}
.border-color-brand {
  border-left-color: $brand;
}
.border-color-primary {
  border-left-color: $primary;
}
.border-color-success {
  border-left-color: $success;
}
.border-left-transparent {
  border-left: 5px solid transparent;
}
.outline-avatar {
  outline: 5px solid $brand;
}

.overlape {
  margin-left: -10px;
  transform: translateX(-10%);
}
.outline-2-white {
  border: 2px solid white;
}

.wysiwyg {
  p:last-child {
    margin-bottom: 0;
  }
}
.list-hover-light {
  background: $gray-100;
  cursor: pointer;
  &:hover {
    border-left: 5px solid $gray-300;
    background: $white;
  }
}

.bubble {
  border-radius: $spacer * 0.85;
  &-start {
    border-top-left-radius: 0;
  }
  &-end {
    border-top-right-radius: 0;
  }
}

.text.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opacity-100 {
  opacity: 100%;
}
.opacity-75 {
  opacity: 75%;
}
.opacity-50 {
  opacity: 50%;
}
.opacity-25 {
  opacity: 25%;
}
.opacity-0 {
  opacity: 0%;
}

.chatItem {
  background: $light;
  // border-left: 5px solid $light;
  border-right: 1px solid $gray-400;
  padding-left: 5px;
  &.active {
    border-right: 1px solid $white;
    background: $white;
    padding-left: 0px;
    border-left: 5px solid $info;
  }
  &:hover {
    background: white;
  }
}

.badge-disbled {
  opacity: 50%;
  background: $gray-500;
  color: $black;
}

// .tab-content > .active {
//   display: flex !important;
//   min-height: 100% !important;
//   height: 100% !important;
//   height: calc(100% - 1rem);
//   outline: 3px solid purple;
//   overflow: auto;
// }

.h-fix-1 {
  height: calc(100% - 1rem) !important;
  display: flex !important;
  flex-direction: column !important;
}

.chat-container {
  // * {
  //   outline: 1px solid rgba(red, 0.2);
  // }
  // .dev1 {
  // }
}

.sticky-top-custom {
  position: sticky;
  top: 0;
  // z-index: 1020;
}

$paddingCath: 1rem;

/* prettier-ignore */
.chat-height {
  --height: calc(var(--vh) - var(--mainNav-height) - var(--info-section-height) - var(--tab-navigation-height) - #{$paddingCath * 2.2});
}
.padding-y-chat {
  padding-top: $paddingCath;
  padding-bottom: $paddingCath;
}

.chat-height-full {
  // outline: 5px solid rgba(blue, 0.3);
  height: var(--height);
}

.xxbody {
  --body: 941px;
  --header-height: 109px;
  --info-section-height: 184px;
  --tab-navigation-height: 56px;
}

.myModal {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .myChat {
    z-index: 3;
  }
  .backdrop {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.5);
    z-index: 0;
    backdrop-filter: blur(10px);
  }
}

.inset-0 {
  inset: 0;
}

.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.rounded-right-0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.rounded-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.outline {
  outline: 2px dashed var(--outline-color);
}
.outline-success {
  --outline-color: #{$success};
}
.outline-info {
  --outline-color: #{$info};
}
.outline-offset-s {
  outline-offset: 3px;
}
.outline-offset-ns {
  outline-offset: -3px;
}

.tollbar {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.centerTop {
  left: 50%;
  transform: translateX(-50%);
}

.warning-dark-10 {
  background: theme-color-level("warning", -10);
}
.warning-dark-9 {
  background: theme-color-level("warning", -9);
}
.warning-light-6 {
  background: theme-color-level("warning", 6);
}
.danger-dark-10 {
  background: theme-color-level("danger", -10);
}
.danger-dark-9 {
  background: theme-color-level("danger", -9);
}
.danger-light-6 {
  background: theme-color-level("danger", 6);
}
.success-dark-10 {
  background: theme-color-level("success", -10);
}
.success-dark-9 {
  background: theme-color-level("success", -9);
}
.success-light-6 {
  background: theme-color-level("success", 6);
}
.info-dark-10 {
  background: theme-color-level("info", -10);
}
.info-dark-9 {
  background: theme-color-level("info", -9);
}
.info-light-6 {
  background: theme-color-level("info", 6);
}

.form-group:hover {
  .validate-button {
    opacity: 1;
  }
}

.validate-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;

  z-index: 3;
  opacity: 0;
}

.pointer:hover {
  cursor: pointer;
  * {
    cursor: pointer;
  }
}

.hover-field-border {
  border: 1px solid rgba($success, 0.3);
  background: rgba($success, 0.05);
  transition: all 300ms ease-out;

  &:hover {
    border: 1px solid rgba($success, 0.2);
    background: rgba($success, 0.15);
  }

  input::placeholder {
    font-weight: bold;
    color: $success;
  }
}

.dropdown-limit {
  overflow: auto;
  max-height: 30vh;
}
